.hide {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

.flex-cv,
.region-login form.login-form,
.atras a,
.logout a,
.region-salas,
.region-salas .grid-salas .sala,
.region-mesas .mesa,
.popup form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mesa {
    cursor: pointer;
}

.shadow1,
.region-salas .grid-salas .sala,
.region-mesas .mesa {
    -webkit-box-shadow: 0 5px 10px rgba(39, 40, 44, 0.05), 0 15px 40px rgba(64, 66, 73, 0.2);
    box-shadow: 0 5px 10px rgba(39, 40, 44, 0.05), 0 15px 40px rgba(64, 66, 73, 0.2);
}

.shadow1:hover,
.region-salas .grid-salas .sala:hover,
.region-mesas .mesa:hover {
    -webkit-box-shadow: 0 7px 15px rgba(33, 34, 37, 0.05), 0 20px 45px rgba(48, 49, 54, 0.2);
    box-shadow: 0 7px 15px rgba(33, 34, 37, 0.05), 0 20px 45px rgba(48, 49, 54, 0.2);
}

.shadow2 {
    -webkit-box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
    box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

:root {
    --color1: $color1;
    --color2: $color2;
    --color3: $color3;
    --color4: $color4;
    --color4: $color5;
    --red: $red;
    --yellow: $yellow;
    --white: $white;
    --black: $black;
    --fuente1: 'Quicksand', sans-serif;
}

* {
    font-family: var(--fuente1);
    font-weight: 400;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

body.menu,
body.salass,
body.historial,
body.admin {
    background: #264653;
}

body.salass {
    min-height: 100vh;
}

.region-login {
    height: 100vh;
    width: 100%;
    background: #264653;
}

.region-login>.login {
    height: 100%;
}

.region-login form.login-form {
    background-color: white;
    width: 400px;
    height: 400px;
    border-radius: 4px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.login-form label {
    font-weight: bold;
}

#showpass-label {
    font-weight: normal;
}

.region-login form.login-form:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.region-login form.login-form input {
    padding: 10px;
    margin: 10px 10px 20px 20px;
    border: none;
    border-bottom: 3px solid #264653;
    margin-bottom: 7%;
}

.region-login form.login-form input:focus {
    outline: none;
}

.region-login form.login-form input:hover::-webkit-input-placeholder {
    color: transparent;
    transition: 0.5s;
}

.login-btn_enviar {
    font-size: 2.3vh;
}

.region-login form.login-form input::-webkit-input-placeholder {
    transition: 0.5s;
    font-size: 2.3vh;
}

.region-login form.login-form input[type='submit'] {
    background: #264653;
    padding: 10px 20px;
    border-radius: 5%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.region-login form.login-form input[type='submit']:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.atras {
    position: absolute;
    top: 25px;
    left: 30px;
    transition: 0.5s;
}

.atras:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.atras a {
    margin-top: 3px;
    min-height: 55px;
    min-width: 55px;
    text-decoration: none;
    color: white;
}

.atras a i {
    font-size: 55px;
}

.logout {
    position: absolute;
    top: 25px;
    right: 30px;
    transition: 0.5s;
}

.logout:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.logout a {
    margin-top: 3px;
    min-height: 55px;
    min-width: 55px;
    text-decoration: none;
    color: white;
}

.logout a i {
    font-size: 55px;
}

.region-salas {
    min-height: 100vh;
}

.region-salas .grid-salas {
    margin: 15px 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
}

@media (max-width: 1200px) {
    .region-salas .grid-salas {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

.region-salas .grid-salas .sala {
    width: 100%;
    height: 100%;
    background: #E4BE9E;
    margin: 10px;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.region-salas .grid-salas .sala>a,
.region-salas .grid-salas .sala>form,
.region-salas .grid-salas .sala>form input[type="submit"] {
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.sala {
    border-radius: 3%;
}

.region-salas .grid-salas .sala>form input[type="submit"] {
    opacity: 0;
}

.region-salas .grid-salas .sala:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.region-salas .grid-salas .sala img {
    max-height: 100px;
}

.region-salas .grid-salas .sala table {
    margin-top: 10px;
}

.region-salas .grid-salas .sala table,
.region-salas .grid-salas .sala table th,
.region-salas .grid-salas .sala table td {
    border: 1px solid #264653;
    border-collapse: collapse;
    padding: 5px;
}

.region-salas .grid-salas .sala table th {
    font-weight: bold;
    text-align: left;
    margin-right: 1px;
}

.container-absolute {
    position: absolute;
    top: 40px;
    left: 30px;
    transition: 0.5s;
}

.container-absolute .btn-reservas {
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    background: #D9D2B6;
    color: #264653;
    border-radius: 5%;
    transition: 0.5s;
}

.container-absolute:hover {
    transform: scale(1.1);
}

.region-mesas {
    min-height: 100vh;
}

.region-mesas .grid-mesas {
    display: -ms-grid;
    display: grid;
    grid-gap: 15px;
    width: 70vw;
}

.region-mesas .mesa {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    height: 200px;
    padding: 10px 30px;
    background: #D9D2B6;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}

.region-mesas .mesa:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}

.region-mesas .mesa img {
    max-height: 50px;
}

.region-mesas .mesa img.reservada {
    -webkit-filter: invert(33%) sepia(2%) saturate(2%) hue-rotate(358deg) brightness(93%) contrast(119%);
    filter: invert(33%) sepia(2%) saturate(2%) hue-rotate(358deg) brightness(60%) contrast(119%);
}

.region-mesas .mesa img.ocupada {
    -webkit-filter: invert(33%) sepia(98%) saturate(7468%) hue-rotate(358deg) brightness(93%) contrast(119%);
    filter: invert(33%) sepia(98%) saturate(7468%) hue-rotate(358deg) brightness(93%) contrast(119%);
}

.region-mesas .mesa img.mesa-2 {
    max-height: 50px;
}

.region-mesas .mesa img.mesa-4 {
    max-height: 70px;
}

.region-mesas .mesa img.mesa-6 {
    max-height: 100px;
}

.region-mesas .mesa img.mesa-10 {
    max-height: 150px;
}

.region-mesas .grid-mesas {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.region-historial {
    min-height: 100vh;
}

.region-historial input {
    padding: 5px;
    border-radius: 5%;
    border: 3px solid #264653;
}

.region-historial input:focus {
    outline: none;
}

.boton-filtro {
    font-size: 2.3vh;
    font-weight: bold;
    cursor: pointer;
    background-color: #506B74;
    transition: 0.2s;
}

.boton-filtro:hover {
    background-color: #496169;
    transition: 0.2s;
}

.region-historial select {
    padding: 5px;
    border-radius: 5%;
    border: 3px solid #264653;
    cursor: pointer;
    transition: 0.2s;
}

.region-historial select:hover {
    background-color: rgb(204, 193, 193);
    transition: 0.2s;
}

.region-historial select:focus {
    background-color: white;
}

.region-historial table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: 3px solid #D0E1D4;
}

.region-historial th,
.region-historial td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.region-historial tr {
    border: 1px solid #D0E1D4;
}

.region-historial th {
    color: black;
    text-align: left;
    font-weight: bold;
}

.region-historial thead th {
    background-color: #D0E1D4;
}

.region-historial tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.region-historial tbody td {
    position: relative;
}

.region-historial tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

.overlay {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;
    z-index: 10;
}

.overlay.active {
    visibility: visible;
}

.popup {
    background: #F8F8F8;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    width: 360px;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    z-index: 30;
}

.popup form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    opacity: 0;
    padding: 15px;
}

.popup input {
    margin-bottom: 6vh;
    border-bottom: 3px solid #264653;
    font-size: 2.5vh;
}

.popup input:focus {
    outline: none;
}

.popup input[type="submit"] {
    background: #264653;
    padding: 10px 10px;
    margin: 15px;
    margin-top: 20px;
    opacity: 0;
    color: white;
    font-size: 3vh;
    border-radius: 5%;
    transition: 0.5s;
    cursor: pointer;
}

.popup input[type="submit"]:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.popup .btn-cerrarPop {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    color: #BBBBBB;
}

.popup .btn-cerrarPop:hover {
    color: #000;
}

.popup h3 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 5px;
    padding: 25px;
    opacity: 0;
}

.popup h4 {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 40px;
    opacity: 0;
}

.popup .contenedor-popup {
    opacity: 0;
}

.popup label {
    font-size: 2.8vh;
    font-weight: bold;
    margin-bottom: 15px;
}


/* ------------------------- */


/* ANIMACIONES */


/* ------------------------- */

.popup.active {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.popup.active h3 {
    -webkit-animation: entradaTitulo .8s ease .5s forwards;
    animation: entradaTitulo .8s ease .5s forwards;
}

.popup.active form {
    -webkit-animation: entradaSubtitulo .8s ease .5s forwards;
    animation: entradaSubtitulo .8s ease .5s forwards;
}

.popup.active input[type="submit"] {
    -webkit-animation: entrada3 1s linear 1s forwards;
    animation: entrada3 1s linear 1s forwards;
}

@-webkit-keyframes entradaTitulo {
    from {
        opacity: 0;
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaTitulo {
    from {
        opacity: 0;
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes entradaSubtitulo {
    from {
        opacity: 0;
        -webkit-transform: translateY(25px);
        transform: translateY(25px);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaSubtitulo {
    from {
        opacity: 0;
        -webkit-transform: translateY(25px);
        transform: translateY(25px);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes entrada3 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes entrada3 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*# sourceMappingURL=style.css.map */

.nombre-sala {
    font-weight: bold;
}

.select-horas {
    font-size: 2.3vh;
    outline: none;
}

.fechas-menu {
    position: absolute;
    top: 22%;
    right: 2%;
}

.fecha-boton {
    background-color: #82fa4b;
    color: #264653;
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5%;
    transition: 0.5s;
    text-decoration: none;
}

.fecha-div {
    margin-bottom: 10vh;
    transition: 0.5s;
}

.fecha-div:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.fecha-selected {
    transform: scale(1.2);
}

.fecha-selected a {
    background-color: #65ca36;
}

.horas-menu {
    position: absolute;
    top: 22%;
    left: 2%;
    width: 20%;
}

.hora-div {
    margin-bottom: 4vh;
    margin-left: 2vh;
    transition: 0.5s;
    float: left;
}

.hora-div:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.hora-boton {
    background-color: #82fa4b;
    color: #264653;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5%;
    transition: 0.5s;
    text-decoration: none;
}

.ahora {
    position: absolute;
    bottom: 15%;
    left: 8%;
    transition: 0.5s;
}

.ahora:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.ahora-boton {
    background-color: #82fa4b;
    color: #264653;
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5%;
    transition: 0.5s;
    text-decoration: none;
}

.hora-selected {
    transform: scale(1.2);
}

.hora-selected a {
    background-color: #65ca36;
}

[disabled="si"] {
    pointer-events: none;
    opacity: 0.5;
    transform: scale(1.0);
}

[disabled="si"] a {
    background-color: #82fa4b;
}


/*admin*/

.demo {
    margin: 10% 25%;
}

.demo-posicion1,
.demo-posicion2 {
    float: left;
    background: #E4BE9E;
    border-radius: 3%;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
    margin: 3%;
}

.demo-posicion2 {
    left: 50%;
}

.demo-posicion1:hover,
.demo-posicion2:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.demo-posicion1 img,
.demo-posicion2 img {
    max-height: 100px;
}

.region-salas .grid-salas .sala table {
    margin-top: 10px;
}

.demo-posicion2 table,
.demo-posicion2 table th,
.demo-posicion2 table td,
.demo-posicion1 table,
.demo-posicion1 table th,
.demo-posicion1 table td {
    border: 1px solid #264653;
    border-collapse: collapse;
    padding: 5px;
}

.demo-posicion1 table th,
.demo-posicion2 table th {
    font-weight: bold;
    text-align: left;
    margin-right: 1px;
}

.demo-posicion1 h2,
.demo-posicion2 h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.hora-sala {
    position: absolute;
    top: 45%;
    left: 1%;
    font-size: 2.8vh;
    color: white;
    text-align: center;
}

.boton-filtro {
    padding: 5px;
    border: 3px solid #264653;
    border-radius: 3%;
}

.crear-user label {
    margin-bottom: 0%;
}

.crear-user input {
    margin-top: 0%;
}

.crear-user select {
    margin-top: 3%;
}